apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    org.edgexfoundry.service: edgex-support-logging
  name: edgex-support-logging
spec:
  replicas: 1
  selector:
    matchLabels:
      org.edgexfoundry.service: edgex-support-logging
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        org.edgexfoundry.service: edgex-support-logging
    spec:
      containers:
      - name: edgex-support-logging
        image: edgexfoundry/docker-support-logging-go:1.1.0
        imagePullPolicy: Always
        ports:
        - containerPort: 48061
        env:
        - name: edgex_registry
          value: consul://edgex-core-consul:8500
        - name: Clients_CoreData_Host
          value: edgex-core-data
        - name: Clients_Logging_Host
          value: edgex-support-logging
        - name: EDGEX_SECURITY_SECRET_STORE
          value: "false"
        - name: Logging_EnableRemote
          value: "true"
        readinessProbe:
          httpGet:
            path: /api/v1/ping
            port: 48061
          initialDelaySeconds: 15
          periodSeconds: 30
          successThreshold: 1
          failureThreshold: 3
        livenessProbe:
          httpGet:
            path: /api/v1/ping
            port: 48061
          initialDelaySeconds: 15
          periodSeconds: 30
          successThreshold: 1
          failureThreshold: 3
        resources: {}
        volumeMounts:
        - mountPath: /edgex/logs
          name: log-data
      initContainers:
      - name: wait-for-consul
        image: busybox:1.28
        command: ['sh', '-c', 'until wget edgex-core-consul:8500; do echo waiting for consul; sleep 2; done;']
      hostname: edgex-support-logging
      restartPolicy: Always
      volumes:
      - name: log-data
        persistentVolumeClaim:
          claimName: log-data
status: {}
