apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    org.edgexfoundry.service: edgex-core-data
  name: edgex-core-data
spec:
  replicas: 1
  selector:
    matchLabels:
      org.edgexfoundry.service: edgex-core-data
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        org.edgexfoundry.service: edgex-core-data
    spec:
      containers:
      - env:
        - name: edgex_registry
          value: consul://edgex-core-consul:8500
        - name: Clients_CoreData_Host
          value: edgex-core-data
        - name: Clients_Logging_Host
          value: edgex-support-logging
        - name: EDGEX_SECURITY_SECRET_STORE
          value: "false"
        - name: Logging_EnableRemote
          value: "true"
        image: edgexfoundry/docker-core-data-go:1.1.0
        name: edgex-core-data
        ports:
        - containerPort: 48080
        - containerPort: 5563
        resources: {}
      hostname: edgex-core-data
      restartPolicy: Always
status: {}
