apiVersion: v1
kind: Pod
metadata:
  labels:
    org.edgexfoundry.service: {{.Values.edgex.app.configseed}}
  name: {{.Values.edgex.app.configseed}}
spec:
  containers:
  - name: {{.Values.edgex.app.configseed}}
    image: {{.Values.edgex.image.configseed.repository}}:{{.Values.edgex.image.configseed.tag}}
    imagePullPolicy: {{.Values.edgex.image.configseed.pullPolicy}}
    env:
    - name: edgex_registry
      value: consul://{{.Values.edgex.app.core.consul}}:8500
    - name: Service_Host
      value: 0.0.0.0
    - name: Clients_CoreData_Host
      value: {{.Values.edgex.app.core.data}}
    - name: Clients_Metadata_Host
      value: {{.Values.edgex.app.core.metadata}}
    - name: Clients_Logging_Host
      value: {{.Values.edgex.app.support.logging}}
    - name: Clients_Notifications_Host
      value: {{.Values.edgex.app.support.notifications}}
    - name: MessageBus_SubscribeHost_Host
      value: {{.Values.edgex.app.core.data}}
    - name: Logging_EnableRemote
      value: "true"
    resources: {}
    volumeMounts:
    - mountPath: /edgex/logs
      name: log-data
  initContainers:
  - name: wait-for-consul
    image: busybox:1.28
    imagePullPolicy: IfNotPresent
    command: ['sh', '-c', 'until wget edgex-core-consul:8500; do echo waiting for consul; sleep 2; done;']
  hostname: {{.Values.edgex.app.configseed}}
  restartPolicy: Never
  volumes:
  - name: log-data
    persistentVolumeClaim:
      claimName: log-data
status: {}
